.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
.build/
dist/
build/
.eggs/
*.egg-info/
venv/
.env
.env.*
.cache/
.mypy_cache/
.pytype/
.pytest_cache/
node_modules/
**/.DS_Store
*.zip
*.tar
*.tar.gz
*.whl
Dockerfile.*
.ruff_cache
.venv
